.header {
     border-bottom: 1px solid #e7e9fc;
}

.header .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.logo {
     display: inline-block;
     padding: 16px 0;
}

.navigation,
.address {
     display: none;
}

.menu-open-btn {
     display: flex;
     align-items: center;
     justify-content: center;

     padding: 0;
     background-color: transparent;
     border: none;
     cursor: pointer;
}

@media (min-width: 768px) {
     .nav-link {
          display: block;
          padding: 24px 0;
     }

     .menu-open-btn {
          display: none;
     }

     .navigation,
     .address {
          display: block;
     }

     .header .container {
          justify-content: flex-start;
          gap: 120px;
     }

     .navigation-list {
          display: flex;
          gap: 40px;
     }

     .address-list {
          display: flex;
          flex-direction: column;
          gap: 12px;
          margin-left: auto;
     }

     .addres-link {
          font-size: 12px;
          line-height: 1.17;
          letter-spacing: 0.04em;
          color: #434455;
     }
}

@media (min-width: 1158px) {

     .header .container {
          gap: 0;
     }

     .navigation-list {
          display: flex;
          gap: 40px;
     }

     .nav-link {
          padding: 24px 0;
     }

     .address-list {
          flex-direction: row;
          gap: 40px;
     }

     .addres-link {
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #434455;
          padding: 24px 0;
     }
}